doctype html
html 
    head 
        title="Thank you!"
    body
        h3= "Thanks for the info! The following was saved to the database:"

    div
        p= `Visitor ID: ${visitorId}`
    div
        p= `First Name: ${firstName}`
    div
        p= `First Name: ${lastName}`
    div
        p= `Date Of Visit: ${dateOfVisit}`
    div
        p= `Time Of Visit: ${timeOfVisit}`
    div
        p= `Visitor Assistance: ${message}`

        script.
            setTimeout(function () { window.location.href = "/" }, 3000)